.paginado-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.list-number{
    font-size: larger;
    margin: 2px;
    font-weight: bold;
    max-width: 500px;
    list-style: none;
    /* border: solid 1px black; */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.388);
    background-color:  #491700;
    opacity: 90%;
}
.a-number{
    color: #c1a48e;
    padding: 10px;

}

.list-number:hover{
    background-color: #22223b;
    opacity: 70%;
    cursor: pointer;
}


